body {
    font-family: "Montserrat", sans-serif;
}

.navbar {
    background-color: #03071E;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.separator {
    width: 2px;
    /* Ancho del "palito" */
    height: 25px;
    /* Altura del "palito" (aprox. la altura de los iconos) */
    background-color: rgba(255, 255, 255, 0.5);
    /* Color blanco semi-transparente */
    margin: 0 10px;
}

.botonInicioSesion,
.botonRegistro {
    white-space: nowrap;
    padding-left: 1rem;
    padding-right: 1rem;
}

.navbar-nav {
    padding-right: 30px;
}

.nav-item {
    font-size: 18px;
    font-weight: 300;
    white-space: nowrap;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.navbar-toggler-icon:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

.botonRegistro {
    background-color: #F48C06;
    color: white;
    width: auto;
    height: auto;
    font-size: 18px;
}

.botonRegistro:hover {
    background-color: #a45d00;
    color: white;
}

.botonRegistro:focus {
    background-color: #a45d00;
    color: white;
}

.botonInicioSesion {
    width: auto;
    height: auto;
    font-size: 18px;
}

.botonInicioSesion:focus {
    box-shadow: none;
}

.navbar-brand {
    size: 100px;
}

.nav-link {
    color: white;
    display: inline-block;
    text-decoration: none;
    position: relative;
}

.nav-link:hover {
    color: #F48C06;
    position: relative;
}

.nav-link::before {
    content: '';
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #F48C06;
    transition: width 0.3s ease;
}

.nav-link:hover::before {
    width: 100%;
}

.nav-separator {
    border: 0;
    height: 1px;
    background-color: white;
    width: 25%;
    width: calc(100% - 30px);
}


.hero-section {
    background-image: url(../../img/PW_InicioImg/HexDeco.png), linear-gradient(to right, #03071E, #3D0007);
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
    padding-top: 80px;
    padding-bottom: 10rem;

}

.input-group {
    border-radius: 15px;
    overflow: hidden;
}

/* Contenedor de las tarjetas que superpondrán el banner */
.cards-container {
    /* **SOLUCIÓN CLAVE DE POSICIONAMIENTO** */
    position: absolute;
    /* Posicionamiento absoluto respecto a .hero-section */
    bottom: -600px;
    /* Ajusta esto para mover el contenedor hacia arriba/abajo */
    left: 50%;
    /* Centrar horizontalmente */
    transform: translateX(-50%);
    /* Centrar con precisión */
    width: 90%;
    /* Ancho del contenedor de tarjetas */
    max-width: 1600px;
    /* Limita el ancho máximo para pantallas grandes */
    z-index: 10;
    /* Asegura que esté por encima de otros elementos */
}

/* 1. GRÁFICO DE RENDIMIENTO (GAUGE) */
.gauge-container {
    width: 360px;
    height: 180px;
    position: relative;
}

.gauge-bg {
    width: 100%;
    height: 100%;
    background: #dc3545;
    border-radius: 180px 180px 0 0;
}

.gauge-cover {
    width: 280px;
    height: 180px;
    background: #fff;
    border-radius: 140px 140px 0 0;
    position: absolute;
    top: 40px;
    left: 40px;
}

.gauge-needle {
    position: absolute;
    bottom: -30px;
    left: calc(50% - 8px);
    width: 16px;
    height: 160px;
    background: #7b001c;
    transform-origin: 50% 100%;
    transition: transform 1.5s cubic-bezier(0.19, 1, 0.22, 1);

    clip-path: polygon(
            50% 0%,
            /* punta exacta en el centro arriba */
            100% 15%,
            /* ancho máximo tras la punta */
            100% 100%,
            /* base inferior derecha */
            0% 100%,
            /* base inferior izquierda */
            0% 15%
            /* ancho máximo tras la punta */
        );
}

.rendimiento-stars {
    color: #ffc107;
    font-size: 3rem;
}

.rendimiento-text {
    color: #dc3545;
    font-weight: 600;
    font-size: 1.5rem;
}

/* Estilos base para el contenedor de los gráficos */
.charts {
    width: 100%;
    /* Ocupa todo el ancho disponible */
    height: auto;
    /* Permite que la altura se ajuste dinámicamente según el contenido, pero min-height lo limita */
    min-height: 250px;
    /* Valor base. Se ajustará con media queries. */
    display: flex;
    /* Para centrar el contenido de ApexCharts */
    flex-direction: column;
    /* Asegura que los ítems dentro se apilen verticalmente si es necesario */
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    /* Centrar el contenedor del gráfico */
    padding-bottom: 0;
    /* Eliminar cualquier padding inferior que pueda generar espacio extra */
    padding-top: 15px;
    /* Un poco de espacio arriba para el título de la tarjeta */
}

.daterangepicker td.active {
    background-color: #1345d1;
    /* Color de fondo del morado principal para fechas activas */
}

.daterangepicker td.end-date {
    background-color: #1345d1;
    /* Color de fondo del morado principal para fechas activas */

}

.daterangepicker td.in-range {
    background-color: #69d2fc25;
    /* Fondo para el rango seleccionado */
}


/* Estilos para las tarjetas de Bootstrap */
.card {
    border-radius: 20px;
    /* Bordes redondeados */
    border: none;
    /* Elimina el borde por defecto de Bootstrap */
    background-color: #ffffff;
    /* Fondo blanco */
    color: #333;
    /* Color del texto dentro de la tarjeta */
}

.card .card-body {
    padding-left: 2rem;
    padding-top: 1rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
}

.card .card-title {
    text-align: left;
    font-weight: 600;
    margin-bottom: 0.5rem;
    font-size: 1.4rem;
}

.card .card-text {
    font-weight: 600;
    font-size: 3rem;
    color: #333;
    /* Color para el número, puedes cambiarlo */
}

.btn p {
    color: #434343;
}

.cards-down{
    margin-bottom: 40px;
}

/* Botones Ver Mas*/
.botonVerMasR {
    background-color: rgba(220, 47, 2, 0.25);
    font-weight: 550;
}

.botonVerMasR:hover {
    background-color: rgb(220, 46, 2);
    color: white;
    font-weight: 550;
}

.botonVerMasN {
    background-color: rgba(244, 140, 6, 0.25);
    font-weight: 550;
}

.botonVerMasN:hover {
    background-color: rgb(244, 141, 6);
    color: white;
    font-weight: 550;
}

.botonVerMasV {
    background-color: rgba(50, 201, 30, 0.25);
    font-weight: 550;
}

.botonVerMasV:hover {
    background-color: rgb(50, 201, 30);
    color: white;
    font-weight: 550;
}


.btn-link {
    text-decoration: none;
}

.btn-link:hover {
    text-decoration: underline;
}

@media(max-width: 2161px){
    /* 1. GRÁFICO DE RENDIMIENTO (GAUGE) */
.gauge-container {
    /* Aumentado en un 75% del tamaño original de 180px */
    width: 315px; 
    height: 157.5px; 
    position: relative;
}

.gauge-bg {
    width: 100%;
    height: 100%;
    background: #dc3545;
    /* Aumentado en un 75% del tamaño original de 90px */
    border-radius: 157.5px 157.5px 0 0;
}

.gauge-cover {
    /* Aumentado en un 75% del tamaño original de 140px */
    width: 245px; 
    height: 157.5px;
    background: #fff;
    /* Aumentado en un 75% del tamaño original de 70px */
    border-radius: 122.5px 122.5px 0 0;
    position: absolute;
    /* Aumentado en un 75% del tamaño original de 20px */
    top: 35px; 
    left: 35px; 
}

.gauge-needle {
    position: absolute;
    /* Aumentado en un 75% del tamaño original de -15px */
    bottom: -26.25px; 
    left: calc(50% - 7px);
    /* Aumentado en un 75% del tamaño original de 8px */
    width: 14px; 
    height: 140px; /* Aumentado en un 75% del tamaño original de 80px */
    background: #7b001c;
    transform-origin: 50% 100%;
    transition: transform 1.5s cubic-bezier(0.19, 1, 0.22, 1);

    clip-path: polygon(
        50% 0%,
        100% 15%,
        100% 100%,
        0% 100%,
        0% 15%
    );
}

.rendimiento-stars {
    color: #ffc107;
    /* Aumentado en un 75% del tamaño original de 1.5rem */
    font-size: 2.625rem; 
}

.rendimiento-text {
    color: #dc3545;
    font-weight: 600;
    /* Aumentado en un 75% del tamaño original */
    font-size: 1.75rem; 
}
}

@media (max-width: 1623px){
    /* 1. GRÁFICO DE RENDIMIENTO (GAUGE) */
.gauge-container {
    /* Aumentado en un 60% del tamaño original de 180px */
    width: 288px; 
    height: 144px; 
    position: relative;
}

.gauge-bg {
    width: 100%;
    height: 100%;
    background: #dc3545;
    /* Aumentado en un 60% del tamaño original de 90px */
    border-radius: 144px 144px 0 0;
}

.gauge-cover {
    /* Aumentado en un 60% del tamaño original de 140px */
    width: 224px; 
    height: 144px;
    background: #fff;
    /* Aumentado en un 60% del tamaño original de 70px */
    border-radius: 112px 112px 0 0;
    position: absolute;
    /* Aumentado en un 60% del tamaño original de 20px */
    top: 32px; 
    left: 32px; 
}

.gauge-needle {
    position: absolute;
    /* Aumentado en un 60% del tamaño original de -15px */
    bottom: -24px; 
    left: calc(50% - 6.4px); /* Ajustado para un mejor centro */
    /* Aumentado en un 60% del tamaño original de 8px */
    width: 12.8px;
}
}

@media (max-width: 1445px){
    /* 1. GRÁFICO DE RENDIMIENTO (GAUGE) */
.gauge-container {
    /* Aumentado en un 40% del tamaño original de 180px */
    width: 252px; 
    height: 126px; 
    position: relative;
}

.gauge-bg {
    width: 100%;
    height: 100%;
    background: #dc3545;
    /* Aumentado en un 40% del tamaño original de 90px */
    border-radius: 126px 126px 0 0;
}

.gauge-cover {
    /* Aumentado en un 40% del tamaño original de 140px */
    width: 196px; 
    height: 126px;
    background: #fff;
    /* Aumentado en un 40% del tamaño original de 70px */
    border-radius: 98px 98px 0 0;
    position: absolute;
    /* Aumentado en un 40% del tamaño original de 20px */
    top: 28px; 
    left: 28px; 
}

.gauge-needle {
    position: absolute;
    /* Aumentado en un 40% del tamaño original de -15px */
    bottom: -21px; 
    left: calc(50% - 5.6px); /* Ajustado para un mejor centro */
    /* Aumentado en un 40% del tamaño original de 8px */
    width: 11.2px; 
    height: 112px; /* Aumentado en un 40% del tamaño original de 80px */
    background: #7b001c;
    transform-origin: 50% 100%;
    transition: transform 1.5s cubic-bezier(0.19, 1, 0.22, 1);

    clip-path: polygon(
        50% 0%,
        100% 15%,
        100% 100%,
        0% 100%,
        0% 15%
    );
}

.rendimiento-stars {
    color: #ffc107;
    /* Aumentado en un 40% del tamaño original de 1.5rem */
    font-size: 2.1rem; 
}

.rendimiento-text {
    color: #dc3545;
    font-weight: 600;
    /* Aumentado en un 40% del tamaño original */
    font-size: 1.4rem; 
}
}

@media (max-width: 1245px) {
    /* 1. GRÁFICO DE RENDIMIENTO (GAUGE) */
.gauge-container {
    /* Aumentado en un 25% del tamaño original de 180px */
    width: 225px; 
    height: 112.5px; 
    position: relative;
}

.gauge-bg {
    width: 100%;
    height: 100%;
    background: #dc3545;
    /* Aumentado en un 25% del tamaño original de 90px */
    border-radius: 112.5px 112.5px 0 0;
}

.gauge-cover {
    /* Aumentado en un 25% del tamaño original de 140px */
    width: 175px; 
    height: 112.5px;
    background: #fff;
    /* Aumentado en un 25% del tamaño original de 70px */
    border-radius: 87.5px 87.5px 0 0;
    position: absolute;
    /* Aumentado en un 25% del tamaño original de 20px */
    top: 25px; 
    left: 25px; 
}

.gauge-needle {
    position: absolute;
    /* Aumentado en un 25% del tamaño original de -15px */
    bottom: -18.75px; 
    left: calc(50% - 5px); 
    /* Aumentado en un 25% del tamaño original de 8px */
    width: 10px; 
    height: 100px; /* Aumentado en un 25% del tamaño original de 80px */
    background: #7b001c;
    transform-origin: 50% 100%;
    transition: transform 1.5s cubic-bezier(0.19, 1, 0.22, 1);

    clip-path: polygon(
        50% 0%,
        100% 15%,
        100% 100%,
        0% 100%,
        0% 15%
    );
}

.rendimiento-stars {
    color: #ffc107;
    /* Aumentado en un 25% del tamaño original de 1.5rem */
    font-size: 1.875rem; 
}

.rendimiento-text {
    color: #dc3545;
    font-weight: 600;
    /* Aumentado en un 25% del tamaño original */
    font-size: 1.2rem; 
}
}

@media (max-width: 1166px){
    /* 1. GRÁFICO DE RENDIMIENTO (GAUGE) */
.gauge-container {
    /* Aumentado en un 25% del tamaño original de 180px */
    width: 225px; 
    height: 112.5px; 
    position: relative;
}

.gauge-bg {
    width: 100%;
    height: 100%;
    background: #dc3545;
    /* Aumentado en un 25% del tamaño original de 90px */
    border-radius: 112.5px 112.5px 0 0;
}

.gauge-cover {
    /* Aumentado en un 25% del tamaño original de 140px */
    width: 175px; 
    height: 112.5px;
    background: #fff;
    /* Aumentado en un 25% del tamaño original de 70px */
    border-radius: 87.5px 87.5px 0 0;
    position: absolute;
    /* Aumentado en un 25% del tamaño original de 20px */
    top: 25px; 
    left: 25px; 
}

.gauge-needle {
    position: absolute;
    /* Aumentado en un 25% del tamaño original de -15px */
    bottom: -18.75px; 
    left: calc(50% - 5px); 
    /* Aumentado en un 25% del tamaño original de 8px */
    width: 10px; 
    height: 100px; /* Aumentado en un 25% del tamaño original de 80px */
    background: #7b001c;
    transform-origin: 50% 100%;
    transition: transform 1.5s cubic-bezier(0.19, 1, 0.22, 1);

    clip-path: polygon(
        50% 0%,
        100% 15%,
        100% 100%,
        0% 100%,
        0% 15%
    );
}

.rendimiento-stars {
    color: #ffc107;
    /* Aumentado en un 25% del tamaño original de 1.5rem */
    font-size: 1.875rem; 
}

.rendimiento-text {
    color: #dc3545;
    font-weight: 600;
    /* Aumentado en un 25% del tamaño original */
    font-size: 1.2rem; 
}
}

/* Media Queries para ajustar el diseño en pantallas pequeñas */
@media (max-width: 767.98px) {

    .hero-section {
        padding-bottom: 2rem;
        /* Suficiente espacio para el flujo natural */
    }

    .cards-container {
        position: relative;
        /* Cambiado a relativo para que fluya con el documento */
        bottom: auto;
        left: auto;
        transform: none;
        width: 100%;
        padding: 0 15px;
    }

    .charts {
        min-height: 280px;
        /* Una altura mínima un poco mayor para móviles */
        margin-bottom: 1rem;
        /* Espacio entre gráficos */
    }
}

/* Media Queries para ajustar el diseño en pantallas pequeñas */
/* Móviles: 0px a 767.98px */
@media (max-width: 767.98px) {
    .charts {
        min-height: 260px;
        margin-bottom: 1rem;
        /* Espacio entre gráficos cuando se apilan */
        padding-top: 10px;
    }
}

/* Media Queries para ajustar el diseño en pantallas pequeñas */
@media (max-width: 991.98px) {
    .hero-section {
        padding-top: 100px;
        padding-bottom: 30px;
        min-height: auto;
    }

    .hero-section .row > * {
        margin-top: 0;
        padding-right: calc(var(--bs-gutter-x) * .5);
        padding-left: calc(var(--bs-gutter-x) * .5);
    }

    .cards-container {
        position: relative;
        bottom: auto;
        left: auto;
        transform: none;
        width: 100%;
        padding: 0 15px; /* Mantenemos el padding horizontal */
    }

    .charts {
        min-height: 260px; /* Ajuste para móviles, si se ve cortado, puedes bajarlo más */
        margin-bottom: 1rem; /* Espacio entre gráficos cuando se apilan */
        padding-top: 10px;
    }
}

/* Desktop: 992px y más */
@media (min-width: 992px) {
    .charts {
        min-height: 380px;
        padding-top: 20px;
    }
}